.services-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 400px 40px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 268.09px;
    height: 320.88px;
    gap: 10px;
    border-radius: 40px;
    box-shadow: -2px -1px #ffffe9;
    border: 1px solid #F2F2F2;
    background-color: #fff;
}

.services-right-content {
    display: flex;
    gap: 25px;
    margin-left: 79px;
}

.left-cards {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.right-cards {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    bottom: 35px;
}

.search-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105.32px;
    height: 93.51px;
    border-radius: 20px;
    background-color: #F1F7FE;
}

.search-img-container:hover {
    background-color: #cae3ff;
}

.wallet-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105.32px;
    height: 93.51px;
    border-radius: 20px;
    background-color: #FFF7E3;
}

.wallet-img-container:hover {
    background-color: #fbeabf;
}

.code-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105.32px;
    height: 93.51px;
    border-radius: 20px;
    background-color: #FEF2F8;
}

.code-img-container:hover {
    background-color: #f9d7e8;
}

.chart-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105.32px;
    height: 93.51px;
    border-radius: 20px;
    background-color: #DDFAEE;
}

.chart-img-container:hover {
    background-color: #b8f7dd;
}

.services-rect1-img {
    position: absolute;
    top: 1450px;
    left: 500px;
    z-index: -4;

}

.services-ellipse-img {
    position: relative;
    top: 600px;
    left: 450px;
    z-index: -5;
}

.services-dots-img {
    position: relative;
    top: 580px;
    right: 155px;
    height: 120px;
    width: 450px;
    z-index: -5;
}

.services-rect2-img {
    position: relative;
    top: 330px;
    right: 30px;
    z-index: -5;
}

@media only screen and (max-width: 600px) {
    /* Phones */
    .services-content {
        margin-top: 100px;
    }

    .services-rect1-img {
        display: none;
    }


    .services-rect2-img {
        display: none;
    }

    .services-ellipse-img {
        display: none;
    }

    .services-dots-img {
        display: none;
    }

    .services-right-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 60px;
        margin-left: 0;
    }

    .services-left-content {
        display: flex;
        justify-content: start;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* For Ipads */
    .services-content {
        margin-top: 150px;
    }

    .services-rect1-img {
        display: none;
    }


    .services-rect2-img {
        display: none;
    }

    .services-ellipse-img {
        display: none;
    }

    .services-dots-img {
        display: none;
    }

    .services-right-content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 60px;
        width: 100%;
        margin-left: 0;
    }

    .right-cards {
        position: static !important;
    }

    .services-left-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
}
