.about-us-content {
    margin-top: 100px;
}

.about-image {
    width: 80%;
}

.about-us-left-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20%;
}

.about-text {
    font: 30px;
    line-height: 40px;
}

.about-description {
    font-size: 20px;
    line-height: 150%;
}

.about-description2 {
    font-weight: 200;
    font-size: 20px;
    line-height: 150%;
}

@media only screen and (max-width: 600px) {
    /* Phones */

    .right-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-image {
        width: 80%;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    /* For Ipads */
    .right-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-image {
        width: 80%;
    }

    .about-us-left-content{
        margin: 0;
    }

}