.error-form-msg {
    color: rgb(246, 53, 53);
    position: absolute;
    top: -45px;
    left: 2px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    letter-spacing: 0.1em;
}

.success-form-msg {
    color: #66a139;
    position: absolute;
    top: -60px;
    left: 2px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.contact-page-row {
    padding-top: 80px;
}

.msg-container {
    position: relative;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    /* For Ipad */
    .contact-page-row {
        display: flex;
        flex-direction: column;
        gap: 80px;
        padding-top: 0;
    }

    .success-form-msg {
        top: 45px;
    }

    .map {
        display: flex;
        align-items: center;
    }
}

@media only screen and (min-device-width: 601px) and (max-device-width: 767px) {
    .contact-page-row {
        flex-direction: column;
        gap: 20px;
    }

    .contactus-map {
        margin-top: 120px;
    }
}

@media only screen and (max-width: 600px) {

    /* Phones */
    .contact-page-row {
        flex-direction: column;
        padding-top: 40px;
        gap: 25px;
    }

    .error-form-msg {
        position: absolute;
        left: 3px;
        top: -36px;
        margin: 0;
    }

    .success-form-msg {
        top: -49px;
    }
}