.tools-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    height: 200px;
    background-color: #F9FBFE;
}

.single-tool {
    display: flex;
    justify-content: center;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
    height: 82px;
}


.single-tool:hover {
    filter: none;
}

.all-tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.dspace-tool {
    height: 30px;
}

.spice-tool {
    height: 110px;
}

.iso-tool {
    height: 60px;
}

.lauter-tool {
    padding: 10px 0px 20px;
}

.vector-tool {
    height: 45px;
}

.client-text {
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


@media only screen and (max-width: 600px) {

    /* Phones */
    .all-tools {
        padding: 40px;
        flex-direction: column;
    }

    .tools-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        height: 100%;
    }

    .single-client {
        max-width: 100%;
        height: 82px;
    }

    .client-text {
        display: flex;
        font-size: 56px;
        justify-self: center;
    }

    .dspace-tool {
        height: 30px;
        width: 130px;
    }

    .vector-tool {
        height: 40px;
        width: 130px
    }

    .lauter-tool {
        width: 150px;
    }

    .iso-tool {
        height: 60px;
        width: 150px;
    }

    .spice-tool {
        width: 168px;
    }
}

@media only screen and (min-device-width: 601px) and (max-device-width: 767px) {
    .tools-content {
        margin-top: 150px !important;
    }

    .all-tools {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 53px;
        flex-wrap: wrap;
        padding-top: 20px;
    }

    .tools-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        height: 100%;
    }

    .single-client {
        max-width: 100%;
        height: 82px;
    }

    .client-text {
        display: flex;
        font-size: 56px;
        justify-self: center;
    }

    .dspace-tool {
        height: 30px;
        width: 130px;
    }

    .vector-tool {
        height: 40px;
        width: 130px
    }

    .lauter-tool {
        width: 150px;
    }

    .iso-tool {
        height: 60px;
        width: 150px;
    }

    .spice-tool {
        width: 168px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    /* For Ipads */
    .tools-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        height: 100%;
    }

    .all-tools {
        flex-wrap: wrap;
        padding: 20px;
        gap: 45px;
    }

    .single-client {
        max-width: 100%;
        height: 82px;
    }

    .client-text {
        display: flex;
        font-size: 65px;
        justify-self: center;
    }
}