.services {
    background-color: #F9FBFE;
    padding: 80px;
}

.services-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.service-card {
    margin-bottom: 1.875rem;
    background-color: #ffffff;
    padding: 0.4375rem 2.5rem 3.125rem;
    border-radius: 0.25rem;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.service-card:hover .service-img {
    filter: brightness(0) invert(1);
}

.service-card:hover .first-blob {
    fill: #FD953F;
}

.service-card:hover .second-blob {
    fill: #58E27D;
}

.service-card:hover .third-blob {
    fill: #6178F8;
}

.service-card:hover .forth-blob {
    fill: #38B9FA;
}

.service-card:hover .fifth-blob {
    fill: #F94340;
}

.service-card:hover .sixth-blob {
    fill: #45DABA;
}

.service-card:hover {
    -webkit-box-shadow: 0px 2px 35px 0px rgb(0 0 0 / 10%);
    box-shadow: 0px 2px 35px 0px rgb(0 0 0 / 10%);
}

.icon-bg-shape {
    fill: #f5f5f5;
    background-size: 100px 50px;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.card-title a {
    color: #1d2124;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    font-size: 25px;
    line-height: 0;
}

.card-title a:hover {
    color: #3B52AD
}

.first-service-img {
    position: relative;
    top: 60px;
    left: 6px;
    width: 18%;
    filter: invert(74%) sepia(49%) saturate(2073%) hue-rotate(327deg) brightness(97%) contrast(104%);
}

.second-service-img {
    position: relative;
    top: 67px;
    left: 0;
    width: 18%;
    filter: invert(78%) sepia(8%) saturate(3355%) hue-rotate(67deg) brightness(99%) contrast(83%);
}

.third-service-img {
    position: relative;
    top: 67px;
    left: 0;
    width: 18%;
    filter: invert(41%) sepia(94%) saturate(1975%) hue-rotate(215deg) brightness(101%) contrast(95%);
}

.forth-service-img {
    position: relative;
    top: 67px;
    left: 0;
    width: 18%;
    filter: invert(59%) sepia(24%) saturate(2316%) hue-rotate(174deg) brightness(105%) contrast(96%);
}

.fifth-service-img {
    position: relative;
    top: 67px;
    left: 0;
    width: 18%;
    filter: invert(41%) sepia(44%) saturate(3558%) hue-rotate(337deg) brightness(99%) contrast(96%);
}

.sixth-service-img {
    position: relative;
    top: 65px;
    left: 0;
    width: 16%;
    filter: invert(82%) sepia(7%) saturate(3010%) hue-rotate(109deg) brightness(94%) contrast(90%);
}

.services-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card-dicover-link {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #3430ad;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-details {
    font-size: 16px;
    color: #646464;
    line-height: 25px;
    margin-top: 25px;
}

.arrow-img {
    margin-left: 5px;
    width: 8%;
    filter: invert(11%) sepia(95%) saturate(4299%) hue-rotate(243deg) brightness(91%) contrast(83%);
}

.card-link {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {

    /* Phones */
    .services {
        padding: 0;
    }

    .services-container {
        padding-top: 50px;
    }

    .card-icon-container {
        margin-bottom: 12px;
    }

    .first-service-img {
        top: 62px;
        width: 18%;
    }

    .second-service-img {
        top: 70px;
        width: 18%;
    }

    .third-service-img {
        top: 65px;
        width: 18%;
    }

    .forth-service-img {
        top: 64px;
        width: 18%;
    }

    .fifth-service-img {
        top: 62px;
        width: 18%;
    }

    .sixth-service-img {
        top: 62px;
        width: 18%;
    }
}

@media only screen and (min-device-width: 601px) and (max-device-width: 767px) {
    .services-content {
        flex-direction: column;
    }

    .first-service-img {
        width: 12%;
    }

    .second-service-img {
        width: 12%;
    }

    .third-service-img {
        width: 12%;
    }

    .forth-service-img {
        width: 12%;
    }

    .fifth-service-img {
        width: 12%;
    }

    .sixth-service-img {
        width: 12%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* For Ipads */

    .service-card {
        padding: 15px;
    }

    .card-title a {
        font-size: 20px;
    }

    .first-service-img {
        top: 62px;
    }

    .second-service-img {
        top: 63px;
    }

    .third-service-img {
        top: 63px;
    }

    .forth-service-img {
        top: 62px;
    }

    .fifth-service-img {
        top: 60px;
    }

    .sixth-service-img {
        top: 60px;
    }
}