.header {
    font-family: 'Nunito Sans';
    background-image: url("../../assets/waves2.png");
    background-repeat: no-repeat;
    color: #fff;
    background-color: #72746A;
    height: 670px;
}

.sticky-navbar {
    height: 70px;
    max-width: 100% !important;
    transition: all 0.5s ease-in-out;

}

.nav-items {
    display: flex;
    width: 75%;
    justify-content: center;
    gap: 30px;
}


.sticky-link {
    color: black;
}


.static-nav-link:after {
    display: block;
    content: '';
    border-bottom: solid 3px #FFF;
    transform: scaleX(0);
    transition: transform 400ms ease-in-out;
}

.selected-static::after {
    display: block;
    content: '';
    border-bottom: solid 3px #FFF;
    transform: scaleX(1);
    transition: all 0.5s ease-in-out;
}

.selected-sticky::after {
    display: block;
    content: '';
    border-bottom: solid 3px #fdc009;
    transform: scaleX(1);
    transition: all 0.5s ease-in-out;
}

.static-nav-link:hover:after {
    transform: scaleX(1);
}

.static-nav-link.fromRight:after {
    transform-origin: 100% 50%;
}

.static-nav-link.fromLeft:after {
    transform-origin: 0% 50%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.left-content {
    display: flex;
    justify-content: flex-end;
}

.title {
    font-size: 56px;
    line-height: 60px;
}

.description {
    font-size: 30px;
    line-height: 160.4%;
    letter-spacing: 2%;
}

.aqua-line {
    border-radius: 20px;
    height: 5px;
    margin-top: 16px;
    width: 10%;
    background-color: #3ADAD9;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    width: 578px;
}

.header-image {
    width: 80%;
}

.welcome-msg {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 35px;
    color: #606060;
    background-color: #fff;
}

.get-started-button {
    width: 30%;
}

.ellipse-image {
    width: 16px;
    height: 16px;
    position: relative;
    left: 360px;
}

.rectangle-image {
    width: 30.72px;
    height: 30.31px;
    position: relative;
    left: 630px;
    top: 30px;
}

.cursor-image {
    width: 49.31px;
    height: 47.36px;
    position: relative;
    left: 613px;
    top: 259px;
}

.polygon-image {
    width: 37.76px;
    height: 37.13px;
    position: relative;
    left: 450px;
    top: 380px;
}


@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {

    /* Ipad */
    .title {
        font-size: 47px;
        line-height: 42px;
    }

    .header-right-content {
        align-items: flex-start !important;
    }

    .get-started-button {
        width: 33%;
    }

    .nav-items {
        display: flex;
        width: auto;
        justify-content: center;
        gap: 0;
    }

    .nav-items {
        margin: 0 auto;
    }

    .sticky-navbar-content {
        background-color: #fff;
    }

    .sticky-navbar {
        height: auto;
        margin: 0;
        padding: 7.5px 15px;
    }

    .content {
        top: 70px;
    }

    .ellipse-image {
        display: none;
    }

    .polygon-image {
        display: none;

    }

    .cursor-image {
        display: none;
    }

    .language-dropdown {
        margin-left: 0 !important;
    }

    .selected-sticky::after {
        border-bottom: none;
    }

    .sticky-navbar {
        height: auto;
    }

    .content {
        position: relative;
        top: 100px;
    }

    .title {
        font-size: 30px;
        line-height: normal;
    }

    .description {
        font-size: 22px;
    }

    .get-started-button {
        width: 50%;
    }

    .nav-items {
        width: 100%;
        gap: 0;
    }

    .language-dropdown {
        margin-right: 100% !important;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    .content {
        top: 110px;
        position: relative;
    }

    .title {
        font-size: 47px;
        line-height: 42px;
    }

    .header-right-content {
        align-items: flex-start !important;
    }

    .get-started-button {
        width: 33%;
    }

    .nav-items {
        display: flex;
        width: auto;
        justify-content: center;
        gap: 0;
    }

    .nav-items {
        margin: 0 auto;
    }

    .sticky-navbar-content {
        background-color: #fff;
    }

    .sticky-navbar {
        height: auto;
    }

    .content {
        top: 70px;
    }

    .ellipse-image {
        display: none;
    }

    .polygon-image {
        display: none;

    }

    .cursor-image {
        display: none;
    }

    .rectangle-image {
        display: none;
    }

    .language-dropdown {
        left: 50%;
    }

    .selected-sticky::after {
        border-bottom: none;
    }

}

@media only screen and (max-width: 600px) {

    /* Phones */

    .sticky-navbar {
        background-color: #72746A;
    }

    .nav-items {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .header-left-content {
        display: none;
    }

    .header-right-content {
        display: flex;
        justify-content: center;
        padding-top: 25%;
    }

    .title {
        font-size: 46px;
        line-height: 50px;
    }

    .description {
        font-size: 30px;
        line-height: 160.4%;
        letter-spacing: 2%;
    }

    .get-started-button {
        width: 33%;
    }

    .language-dropdown {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .polygon-image {
        display: none;
    }

    .ellipse-image {
        display: none;

    }

    .rectangle-image {
        display: none;

    }

    .cursor-image {
        display: none;
    }

    .nav-items {
        gap: 0;
    }

    .navbar-nav .dropdown-menu {
        margin-bottom: 7px;
        position: static;
        width: 50%;
        padding: 20p;
    }
}